{% extends 'base.html' %}
{% block conteudo %}
<h2 class="text-center">Lista de livros</h2>
<hr>
<a class="btn btn-secondary" href="{{url_for('adiciona_livro')}}">Adicionar Livro</a>
<br><br>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>    
            <th>Id</th>
            <th>Nome</th>
            <th>Descricao</th>
            <th>Valor</th>
            <th>Acoes</th>
        </tr>
    </thead>
    <tbody>
        {% for livro in livros %}
            <tr>
                <td>{{livro.id}}</td>
                <td>{{livro.nome}}</td>
                <td>{{livro.descricao}}</td>
                <td>{{livro.valor}}</td>
                <td>
                    <a href="{{url_for('atualiza_livro', id=livro.id)}}" class="btn btn-warning btn-xs">Editar</a>
                    <a href="{{url_for('excluir_livro', id=livro.id)}}" class="btn btn-danger btn-xs" onclick="return confirm('Deseja confirmar a exclusao do livro?')">Excluir</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if livros.has_prev %}
    <a href="{{url_for('lista_livros', page=livros.prev_num)}}" class="btn btn-primary">Livros anteriores</a>
{% else %}
    Livros Listados
{% endif %}
{% if livros.has_next %}
    <a href="{{url_for('lista_livros', page=livros.next_num)}}" class="btn btn-primary">Próximos livros</a>
{% else %}
    Livros Listados
{% endif %}
{% endblock conteudo %}